<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Home</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username || "user" }}, </strong> Welcome to the AMGINE</h3>
        <div class="section-title center">
            <h2>Rules and Regulations</h2>
            <hr>
            <div class="rules-text" >

                <ol style="color: white; list-style: decimal; list-style-position: inside; text-align: center;">
                    <li style="color: black;">The event shall be held over 2 days, from 9<sup>th</sup> to 11<sup>th</sup> April</li><br>
                    <li style="letter-spacing: 1px;color: black;">Malpractice during the event will lead to disqualification.</li><br>
                    <li style="letter-spacing: 1px;color: black;">Participation is open to everyone. Each participant represents himself/herself only.</li><br>
                    <li style="color: black;" >The event entails an Online Cryptic Hunt in which participants must make their way through a series of levels filled with cryptic questions.</li><br>
                    <li style="color: black;">At each level, the participants will encounter a number of clues which shall, altogether, point to one answer. Each level has one and only one correct answer.</li><br>
                    <li style="letter-spacing: 1px;color: black;">Answers will always be lowercase, alphanumeric and may contain spaces. Special characters are allowed.</li><br>

                    <li style="color: black;">Official clues may be released on the Facebook event if and when deemed necessary by the organizers.</li><br>
                    <li style="letter-spacing: 1px;color: black;">Beware of the spelling you enter, we won't auto correct your spellings.</li><br>
                    <li style="color: black;"> The Organisers reserve the right to change the Rules of Competition.</li><br>


                </ol>

            </div>

        </div>
    </div>
</div>
